

html{
scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(44, 43, 43);
    position: sticky;
    top: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__logo {
    display: flex;
}

.header__logo__img {
    margin-right: 79px;

}

.nav__list {
    display: flex;
    margin-right: 63px;
    list-style: none;
}

.nav__link {
    display: flex;
    margin-right: 63px;
    color: #00C4F0;
    text-decoration: none;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

.hero-block {
    background-color: #2C2C2C;
}

.container_hero-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-block__content {

    /* padding: 30px; */
}

.hero-block__link {}

.hero-block img {
    margin-right: 116px;
}

.hero-block__title {
    color: #E4E4E4;
    font-size: 72px;
    font-family: Nico Moji;
    margin-bottom: 30px;
}

.hero-block__text {
    color: #E4E4E4;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.hero-block__link {
    color: #000;
    font-size: 18px;
    font-family: Nico Moji;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 6px;
    background: var(--orange, linear-gradient(135deg, #E2A300 0%, #E29500 100%));
    box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
    text-decoration: none;
    padding: 15px 24px;
}

.about {
    background-color: #3E3E3E;
}

.container_about-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__item__title {
    color: #E4E4E4;
    font-size: 30px;
    font-family: Nico Moji;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__full {
    width: 287px;
    height: 10px;
    flex-shrink: 0;
    background: #2C2C2C;
}

.about__don {
    display: flex;
    width: 96px;
    height: 10px;
    transform: rotate(179.855deg);
    padding-right: 0;
    align-items: center;
    flex-shrink: 0;
    background: #00C4F0;
}

.about__full {
    width: 287px;
    height: 10px;
    background: #2C2C2C;
}

.about__don_css {
    width: 69px;
    height: 10px;
    background: #2C2C2C;
    display: flex;
    height: 10px;
    transform: rotate(179.855deg);
    padding-right: 0px;
    align-items: center;
    background: #00C4F0;
}

.about__don_html {
    display: flex;
    width: 49px;
    height: 10px;
    transform: rotate(179.855deg);
    padding-right: 0px;
    align-items: center;
    flex-shrink: 0;
    background: #00C4F0;
}

.video__title {
    color: #E4E4E4;
    font-size: 48px;
    font-family: Nico Moji;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0;
}

.video {
    background-color: #2C2C2C;
    padding: 65px 0 134px 0;
}

.video__border {
    width: 970px;
    height: 600px;
    max-width: 970px;
    border-radius: 29px;
    background: linear-gradient(135deg, #970808 0%, #2D2D2D 100%);
    margin: 64px auto 0;
}

.video__conteiner {
    max-width: 881px;
    max-height: 511px;
    margin: auto;
}

.video__content {
    width: 881px;
    height: 511px;
    border-radius: 29px;
    margin-top: 30px;
}






.gallery {
    background: #3E3E3E;
}

.gallery__title {
    color: #E4E4E4;
    font-family: Nico Moji;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0;
}

.gallery__list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: space-evenly;
}

.gallery__item {
    width: 32%;
}

.gallery__img {
    width: 100%;
    height: 355px;
    margin-bottom: 25px;
}

.footer {
    background: #2C2C2C;
    padding: 51px 0;
}

.footer__title {

    color: #E4E4E4;
    font-family: Nico Moji;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__conteiner {
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__text {

    color: #FFF;
    font-family: Nico Moji;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}

.footer__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 243px;
}
.footer__item{
    width: 50px;
    
}
.footer__img{
width: 50px;
height: 50px;
}